*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}



.container-text-center{
    background-color:rgba(236, 201, 175, 1);
    height: 30vh;
    
}


.col-6{
    width: 35vw;
}

.col-2{
    display: block;
    padding: 15px;
}

.h4, h4{
    text-align: left;
    padding: 25px;
    display: flex;
}

p{
    font-size: 0.875em;
    padding-top: 10px;
}

.form-control{
padding: 10px;
}