*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}

.footercontainer{
    background-color:rgba(236, 201, 175, 1);
    padding-top: 20px;
}

.container-text-center{
    background-color:rgba(236, 201, 175, 1);
    height: 30vh;  
}


/* .col-6{
    width: 50%;
} */

.col-2{
    display: block;
    padding: 15px;
}

.h4, h4{
    text-align: left;
    padding: 25px;
    display: flex;
}

h6{
    font-size: 0.875em;
    padding-top: 10px;
    font-weight: 300!important;
}

.form-control{
padding-left: 40px!important;
max-width: 400px!important;
padding-bottom: 10px!important;
}

