*{
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
    height: 100px;
}

.headcontainer{
    justify-items: center;
    background-color:rgba(236, 201, 175, 1);
}

h1{
    padding-bottom: 2em;
}
