
.navcontainer{
    background-color: rgba(248, 225, 193, 1);
}

.nav-link{
text-decoration: none!important;
color: black!important;
transition: color 0.3s ease, background-color 0.3s ease!important;
}

.nav-link:hover {
    color: #fff!important;
    background-color: #1252b3!important;
}

.h1, h1{
    margin: unset;
    padding-bottom: 30px;
}