h1{
    padding-top: 20px;
    text-align: center;
}
hr{
    align-items: center;
    width: 90%;
    font-size: 2em;
}

.breadcrumb{
    padding: 20px!important;
}

p{
    font-size: 1.3em;
    padding-top: 10px;
}

.col{
    padding: 10px!important;
}

img.card-img-top {
    height: fit-content;
}

/* .card-group{
    gap: 7px;
    padding: 20px;
} */

.dropdown{
    display: flex;
 padding: 40px;
    justify-content: space-between;
}